div.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    color: white;
    background-color: red;
    display: block;
    margin: auto;

}

h5.modal-title {
    width: 100%;
    text-align: center;

}

.modalFormWrapper {
    padding: 2rem;
}

img.imgCenter {
    display: block;
    margin: auto;
}

button.btnCenter {
    margin: auto;
    display: block;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 54%
}

div.sectionDark div.row img.img-fluid {
    display: block;
    margin: auto;
}

img.footerImg {
    padding: 2.5%;
}

i.fa-square-facebook {
    color: #3b5998;
}

i.fa-google-plus-g {
    color:#c32f10;
}

i.fa-instagram{
    color:white;
}

.fa-brands{
    margin: 20px;
}